* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #c1b5ad;
}

#container {
  display: flex;
}

#map {
  flex-grow: 3;
  height: 100vh;
}

#panel {
  flex-grow: 1;
}

#options {
  background-color: pink;
  padding: 1em;
}

#itinerary {
  background-color: rgb(0, 153, 255);
  padding: 1em;
}
